body
{
	margin : 0 auto;
	position : relative;
	text-align: center;
	background-color: rgba(0,0,0,.95)
}

.bg-img
{
	background-image: url("https://w.wallhaven.cc/full/p2/wallhaven-p2q5zj.jpg");
	filter: blur(8px);
	-webkit-filter: blur(8px);
	height:100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.top
{
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.4);
	font-weight: bold;
	position: absolute;
	top: 500px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

h1
{
	color: white;
	font-family:'Trebuchet MS', sans-serif;
}

h2
{
	color: white;
	font-family:'Trebuchet MS', sans-serif;
}

p
{
	color: white;
	font-family:'Papyrus', Fantasy;
	font-size: 30px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify;
}

.Video
{
	margin-left: 50px;
	margin-right: 100px;
}