h1
{
	margin-top : 100px;
	color : red;
}

body
{
	margin : 0 auto;
	text-align : center;
	position : relative;
}

.text
{
	background-color: rgba(48,48,48,1);
	height: 100px;
	background-size: cover;
	justify-items: space-between;
	position : relative;
}

a:link
{
	text-decoration : none;
}

nav.nav
{
	display: flex;
	justify-items : space-between;
	list-style: none;
	width : 1925px;
	position : sticky;
}

header.header
{
	display: flex;
	align-items: center;
	top : 0;
}

.youtube
{
	margin-top : 100px;
}

.instagram
{
	margin-top : 100px;
}

.tiktok
{
	margin-top : 100px;
}

.top-page
{
	position : sticky;
	top : 0;
}

.video
{
	position : fixed;
	min-height: 100%;
	min-width: 100%;
	z-index : -1;
}
